@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
html {
  direction: ltr;
}
body {
  font-family: "Raleway", sans-serif;
}
