<link rel="stylesheet" href="/css/{{default "style"}}/dashboard/footer.css">
<!-- footer content -->
<footer>
    <div class="pull-right">
        {{default "website_title"}}
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->