{{>event/header}}
{{>event/intro}}
<main id="main">

    {{>event/about}}
    {{>event/sponsors}}
    {{>event/instructors}}

    {{>index/studio}}
    {{>index/events}}
    {{>index/gallery}}
    {{>index/faq}}
    {{>index/staff}}
    {{>index/contact}}
</main><!-- End #main -->
{{>index/footer}}
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>