{{>index/header}}
{{>index/intro}}
<main id="main">
    {{>index/about}}
    {{>index/sponsors}}
    {{>index/instructors}}
    {{>index/studio}}
    {{>index/events}}
    {{>index/gallery}}
    {{>index/faq}}
    {{>index/staff}}
    {{>index/contact}}
</main><!-- End #main -->
{{>index/footer}}
<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>