{{!-- Login - Register - forget password - verification -  --}}
<!DOCTYPE html>
<html lang="{{default "website_language"}}">

<head>
    {{>headContent}}
</head>

<body>

    {{>footerContent}}
</body>

</html>