<!DOCTYPE html>
<html lang="{{default "website_language"}}">

<head>
    {{>headContent}}
</head>

<body>
    {{>home/header}}
    {{>home/intro}}
    <main id="main">
        {{>home/about}}
        {{>home/speakers}}
        {{>home/schedule}}
        {{>home/venue}}
        {{>home/hotels}}
        {{>home/gallery}}
        {{>home/sponsors}}
        {{>home/faq}}
        {{>home/subscribe}}
        {{>home/tickets}}
        {{>home/contact}}
    </main><!-- End #main -->
    {{>home/footer}}
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    {{>footerContent}}

</body>

</html>